<%- include('./partials/head') %>

    <main>
        <h1>
            <%= squad.name %>
        </h1>
        <section>
            <% squad.members.forEach(member=> { %>
                <article>
                    <h2>
                        <%= member.name %>
                    </h2>
                    <% if (member.avatar) { %>
                        <img src="<%= member.avatar %>" alt="de avatar van <%= member.name %>" />
                        <% }else{ %>
                            <img src="smiley.png" alt="" />
                            <% } %>
                </article>

                <% }) %>
        </section>
    </main>
    <%- include('./partials/foot') %>