<%- include('./partials/head') %>

    <% const colors=[ 'hotpink' ,'rebeccapurple', 'teal' ]; const timer=[ '-0.25s' ,'-0.5s', '-0.75s' , '-1s' ,'-1.25s'
        ,'-1.5s', '-1.75s' , '-2 s' , '-2.25s' ,'-2.5s', '-2.75s' , '-3s' ,'-3.25s' ,'-3.5s', '-3.75s' , '-4 s' ,]
        function fakeHeight(min, max) { return Math.random() * (1.90 - 1.50) + 1.50;}%>
        <main>
            <section>
                <% squad.members.forEach(member=> { %>
                    <div>
                        <a href="<%= member.website %>" target="blank">

                            <article id="<%=member.slug %>" style="
                                    --bg-color: <%= colors[Math.floor(Math.random()*colors.length)] %>; 
                                    --timer: <%= timer[Math.floor(Math.random()*timer.length)]%>;
                                    --height: <%= fakeHeight();%>
                                    
                                ">
                                <h2>
                                    <%= member.name %>
                                </h2>
                                <% if (member.avatar) { %>
                                    <img src="<%= member.avatar %>" alt="de avatar van <%= member.name %>" />
                                    <% } else{ %>
                                        <img src="smiley.png" alt="" />
                                        <% } %>
                            </article>
                        </a>
                    </div>
                    <% }) %>

            </section>

            <nav>
                <a class="filter" href="/?squad=squad-a-2022">Squad A</a>
                <a class="filter" href="/?squad=squad-b-2022">Squad B</a>
                <a class="filter" href="/?squad=squat-c-2022">Squad C</a>
                <button class="freeze" title="freeze animation">Freeze</button>
                <div class="slidecontainer">
                    <input type="range" min="1" max="8" value="4" step="1" class="slider" id="myRange">

                </div>


                <ul>
                    <% squad.members.forEach(member=> { %>
                        <li>
                            <a href="#<%= member.slug %>">
                                <% if (member.avatar) { %>
                                    <img src="<%= member.avatar %>" alt="de avatar van <%= member.name %>" />
                                    <% } else{ %>
                                        <img src="smiley.png" alt="" />
                                        <% } %>
                                            <h2>
                                                <%= member.name %>
                                            </h2>
                            </a>
                        </li>
                        <% }) %>
                </ul>

            </nav>

        </main>
        <%- include('./partials/foot') %>